@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey {
  color: #666;
}
.cap {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
main { 
  height: 100vh;
  display: flex;
}

main .wrapper {
  /* position: relative; */
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner p {
  text-transform: capitalize;
  color: rgb(255, 0, 0);
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.banner p:nth-of-type(1) {
  position: absolute;
  left: 0;
  top: 45px;
}

.banner p:nth-of-type(2) {
  position: absolute;
  left: 9%;
  top: 70px;
}

ul li img {
  width: 50%;
}

ul li:nth-of-type(1) {
  position: absolute;
  top: 5px;
  left: 26%;
  z-index: 11;
}

ul li:nth-last-of-type(2) {
  position: absolute;
  top: 179px;
  left: 66px;
  z-index: 12;
  width: 16%;
}

ul li:nth-of-type(3) {
  right: 10%;
  position: absolute;
  width: 8%;
  top: 55px;
}

ul li:nth-of-type(4) {
  position: absolute;
  top: 250px;
  left: 54%;
  z-index: 4;
}

ul li:nth-of-type(5) {
  position: absolute;
  width: 10%;
  top: 14px;
  left: 66%;
}

ul li:nth-last-of-type(6) {
  position: absolute;
  top: 250px;
  left: 66%;
  z-index: 6;
}

ul li:nth-of-type(7) {
  position: absolute;
  width: 10%;
  top: 241px;
  left: 64%;
}

ul li:nth-of-type(8) {
  position: absolute;
  top: 122px;
  left: 65%;
}

ul li:nth-of-type(9) {
  position: absolute;
  top: 245px;
  left: 24%;
  z-index: 1;
  width: 32%;
}

ul li:nth-of-type(10) {
  position: absolute;
  top: 255px;
  left: 268px;
  z-index: 3;
}

ul li:nth-of-type(11) {
  position: absolute;
  top: 243px;
  left: 27%;
  z-index: 4;
  width: 19%;
}

ul li:nth-of-type(12) {
  position: absolute;
  top: 174px;
  left: 80%;
  z-index: 10;
}

ul li:nth-of-type(13) {
  position: absolute;
  width: 35%;
  top: 241px;
  right: 244px;
  z-index: 0;
}

.banner {
  width: 20%;
  height: 300px;
  background: url("/assets/Images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #666;
  /* text-indent: -9999px; */
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
